@charset "UTF-8";

header, header >nav{
    flex-flow: column nowrap;
}

header > h1{
    flex-basis: 50px;
}

header > nav > a {
    width: 90vw;
}

i#burguer{
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}


i#burguer:hover{
    background-color: white;
    color: black;
}
